@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/sf-pro-display/SF-Pro-Display-Regular.otf")
      format("opentype"),
    url("/fonts/sf-pro-display/SF-Pro-Display-Medium.otf") format("opentype"),
    url("/fonts/sf-pro-display/SF-Pro-Display-Semibold.otf") format("opentype");
  font-style: normal;
}

@font-face {
  font-family: "DMI Font";
  src: url("/fonts/dmi/DMIFont-Regular.otf") format("opentype");
  font-weight: 400; /* Normal weight */
  font-style: normal;
}

@font-face {
  font-family: "DMI Font";
  src: url("/fonts/dmi/DMIFont-Medium.otf") format("opentype");
  font-weight: 500; /* Medium weight */
  font-style: normal;
}

@font-face {
  font-family: "DMI Font";
  src: url("/fonts/dmi/DMIFont-Bold.otf") format("opentype");
  font-weight: 700; /* Bold weight */
  font-style: normal;
}

body {
  font-family: "DMI Font", sans-serif;
  margin: 0;
  padding: 0;
}

.hideScrollbar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.hideScrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
